body{
    background-color:aqua;
}

button{
    padding: 20px 40px;
    background-color:rgb(230, 8, 8);
    height: 50px;
    color: aliceblue;
    border: none;
    border-radius: 10px;
    margin: auto;
    position:absolute;
    top: 0;bottom: 0;left: 0;right: 0;
}

#toggl{
    width: 200px;
    height: 300px;
    background-color: rgba(0, 0, 0, 0.39);
    position: absolute;
    left: 45%;
    top: 53%;
    
}

.show{
    display: none;
}